<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card shadow-lg o-hidden border-0 my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-flex">
                <div class="carousel slide" data-ride="carousel" id="carousel-1">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"></div>
                  </div>
                  <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a
                      class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span
                        class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
                  <ol class="carousel-indicators">
                  </ol>
                </div>
                <section>
                  <div class="jumbotron" id="Jumboo">
                    <h1 class="text-center">PAGE NOT FOUND</h1>
                    <p>Please Login to continue</p>
                  </div>
                </section>
              </div>
              <!--  -->
              <app-login></app-login>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
